 @font-face { font-family:SweetLovelyRainbowTwo; src: url('SweetLovelyRainbowTwo.OTF'); } 
     

body{background-color: #fccce4;
    color: #bf0d66;
font-family: SweetLovelyRainbowTwo, Verdana, Tahoma;
}
h2{font-weight:800;
    font-size: 100px;
    color:#c588eb
}

h1 {
    text-decoration: underline;
     color: #bf0d66;
    font-size: 90px;
}

td, th {
  text-align: left;
  padding: 8px;
    text-align: center;
}
.center{  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
text-align: center;
}

.right{float:right}

.parent {
  margin: 1rem;
  text-align: center;
}
.child {
  display: inline-block;
  vertical-align: middle;
}





.t1 th:hover{background-color: #e07bae;
