body{background-image: url("catbg.jpg")	
}

h1{color:rgb(63, 66, 49);
     text-align: center;
        } 

.text {
   display: inline-block;  
  background-color: rgb(63, 66, 49); 
  font-family:Bradley Hand, cursive	;}
}


p{color:white}


a:link {
  color:rgb(225, 240, 144);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
