
body {background-color: #988B7B ;
text-align: center;
font-family:DejaVu Sans Mono, monospace;
}
h1{color:#1C2248 ;}
p{color: #170EAE;font-weight: bold;}
section{color:#Ffff
} 

a{color:darkslateblue;}
